h1 {
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
}

p {
    text-align: center;
    font-family: courier;
    color: #A15589;
    font-size: 25px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
